footer.main-footer {
  background: url("../img/footer-bg.png") no-repeat 50% 50%;
  -webkit-background-size: cover;
  background-size: cover;
  padding: 58px 0 49px 0;

  @include media-breakpoint-down(sm) {
    padding: 25px 0 16px 0;
  }
}


.logo-footer {
  display: block;

  img {
    max-width: 190px;

    @include media-breakpoint-down(sm) {
      width: 140px;
    }
  }
}

.social-wrapper {
  white-space: nowrap;
  margin: 14px 23px 0 0;

  @include media-breakpoint-down(sm) {
    margin: 7px 0 0 0;
  }

  a {
    display: inline-block;
    vertical-align: middle;
    margin: 0 5px;
    @include transition(.2s);

    @include media-breakpoint-down(sm) {
      width: 30px;
    }

    img {
      max-width: 100%;
    }

    &:hover {
      transform: scale(1.05);
    }
  }
}

.footer-txt {
  margin-top: 37px;

  @include media-breakpoint-down(sm) {
    margin-top: 26px;
  }

  span {
    font-size: 18px;
    line-height: 23px;
    color: #fff;

    @include media-breakpoint-down(sm) {
      font-size: 14px;
      line-height: 17px;
    }
  }
}