.main-header {
  padding: 39px 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  @include transition(.5s);

  @include media-breakpoint-down(sm) {
    padding: 20px 0 26px 0;
    background-color: #fff;
  }

  &.header2 {
    padding-bottom: 0;
  }

  &.header3 {
    @include reset-position;
    background: url("../img/top-bg.png") no-repeat 0 0;
    -webkit-background-size: cover;
    background-size: cover;

    + main {
      margin: 0;
    }

    &.scroll-class {
      padding: 20px 0 26px 0 !important;
      box-shadow: none;
    }
  }

  &.scroll-class {
    background-color: #fff;
    padding: 10px 0;
    box-shadow: 0 0 10px 1px #ccc;

    @include media-breakpoint-down(sm) {
      padding: 5px 0 10px 0!important;
    }

    .main-nav {
      top: calc(100% + 10px);
    }
  }
}

.lang-wrap {
  text-align: right;
  margin-bottom: 5px;
  margin-right: 29px;

  @include media-breakpoint-down(sm) {
    margin-bottom: -35px;
    margin-right: 25px;
    position: relative;
    top: 16px;
  }

  .lang-link {
    display: inline-block;
    vertical-align: middle;
    margin: 0 7px;
    text-transform: uppercase;
    color: $c-main;
    text-decoration: underline;

    @include media-breakpoint-down(sm) {
      margin: 0 5px;
    }

    &.active,
    &:hover {
      color: $c-text;
      text-decoration: none;
    }
  }
}

.logo {
  display: block;
  margin-left: 20px;
  position: relative;
  z-index: 100;

  @include media-breakpoint-down(sm) {
    margin-left: 3px;
    margin-top: 20px;
  }

  img {
    max-width: 224px;

    @include media-breakpoint-down(md) {
      max-width: 150px;
    }

    @include media-breakpoint-down(sm) {
      max-width: 135px;
    }
  }
}

.main-nav {
  @include media-breakpoint-down(sm) {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: calc(100% + 26px);
    left: 0;
    width: 100%;
    overflow: hidden;
    background-color: #bb0404;
    z-index: 1000;
    @include transition(.2s);

    &.show {
      opacity: 1;
      visibility: visible;
    }
  }

  .nav-link {
    display: inline-block;
    vertical-align: middle;
    font-size: 19px;
    color: #5c6474;
    margin: 0 11px;
    position: relative;
    @include transition(.2s);

    @include media-breakpoint-down(sm) {
      display: block;
      padding: 10px 30px;
      border-bottom: 1px solid $c-main;
      margin-left: -10px;
      margin-right: -10px;
      font-size: 20px;
      color: #fff;
    }

    &:hover {
      text-decoration: none;
      color: $c-main;
    }

    &:last-child {
      &:after {
        display: none;
      }
    }

    &:after {
      content: '';
      display: block;
      @include center(vertical);
      right: -13px;
      width: 2px;
      height: 18px;
      background-color: $c-main;

      @include media-breakpoint-down(sm) {
        display: none;
      }
    }
  }
}

.mobile-menu-button {
  display: none;

  @include media-breakpoint-down(sm) {
    display: block;
    width: 27px;
    height: 44px;
    position: relative;
    cursor: pointer;
    margin-top: 19px;
    margin-right: -27px;
    z-index: 101;
    transform-origin: center;
  }

  &.open {
    span {
      &.line1 {
        top: 10px;
        transform: rotate(-45deg) translateX(-50%);
      }

      &.line2 {
        opacity: 0;
        visibility: hidden;
        transform: translateX(-20px);
      }

      &.line3 {
        bottom: 9px;
        transform: rotate(45deg) translateX(-50%);
      }
    }
  }

  span {
    display: block;
    width: 30px;
    height: 4px;
    background-color: #b40505;
    @include transition(.3s);
    @include center(horizontal);

    &.line1 {
      top: 12px;
    }

    &.line2 {
      top: 50%;
      margin-top: -2px;
    }
    &.line3 {
      bottom: 12px;
    }
  }
}

.main-nav-wrap {
  border-bottom: 17px solid $c-main;
  padding-bottom: 10px;
  margin-bottom: -40px;

  @include media-breakpoint-down(sm) {
    border: none;
    margin: 0;
    padding: 0;
  }
}

.mobile-styles {
  .logo {
    @include media-breakpoint-down(sm) {
      position: absolute;
      top: -25px;
      left: 30px;
    }
  }
}